
<?xml version="1.0" encoding="UTF-8" ?>
<mapper namespace="org.shelude.backend.src.main.java.mappers.groupSheludeMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert
        into adress (
        id, aud, adress
        ) values (
        #{id}, #{aud}, #{adress}
        )
    </insert>
    <select id="selectAll" resultType="contact">
        select
        id, aud, adress
        from adress
    </select>
    <select id="select" resultType="contact">
        select
        id, aud, adress
        from adress
        where id = #{value}
    </select>

</mapper>